<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.system.mapper.BusCssInfoMapper">

    <select id="getMaxAsnNo" resultType="com.youlai.system.model.bo.CssMaxAsnNoBO">
        SELECT
            asn_no
        FROM bus_asn_info
        WHERE css_id = #{cssId}
        ORDER BY id DESC
        LIMIT 1
    </select>

</mapper>